*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #0f0f0f; */
}



.header{
    max-width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-section{
    margin-left: 20px;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
}


.menu button{
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.menu button:hover{
    background-color:#c2bfbf;
    border-radius: 50px;
}

.menu button img{
    width: 20px;
    height: 20px;
    /* padding-top: 5px; */
}


.header .logo img{
    height: 80px;
    width: 100px;
}


.middle-section{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.search-btn button img{
    width: 30px;
    height: auto;
}

.middle-section .search-bar input{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 33rem;
    height: 38px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    border: none;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25);
    color: black;
}


.search-btn button{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 39px;
    width: 60px;
    cursor: pointer;
    border: none;
    background-color:#f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
}

.search-btn button:hover{
    background-color: rgb(222, 211, 211);
}

.search-btn button img{
    width: 23px;
    height: 23px;
    padding-top: 5px;
}

.mike-btn button{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    cursor: pointer;
    border: none;
    background-color: #f2f2f2;
    border-radius: 50px;
    justify-items: center;
}

.mike-btn button:hover{
    background-color: rgb(222, 211, 211);
}

.mike-btn button img{
    width: 20px;
    height: 20px;
    padding-top: 5px;
   
}

.right-section{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color:darkgoldenrod; */
    justify-content: right;
    margin-right: 20px;
    gap: 10px;
}

.video-btn button{
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.video-btn button:hover{
    background-color: #c2bfbf;
    border-radius: 50px;
}

.video-btn button img{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.bell-btn button{
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.bell-btn button:hover{
    background-color: #c2bfbf;
    border-radius: 50px;
}

.bell-btn button img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.login img{
    margin-top: 5px;
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

.content{
    display: flex;
    flex-direction: row;

}

.Sider{
    justify-items: center;
    height: 100vh;
    width: 15%;
    padding: 8px;
    padding-top: 10px;
    overflow-y: scroll;
    white-space: nowrap;
    z-index: 1;
    scrollbar-width: 8px;
}


.side-card{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    /* background-color: #c2bfbf; */
}

.side-card:hover{
    background-color: #f2f2f2;
}

.side-card:active{
    background-color: #c2bfbf;
}

.side-card img{
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.side-card p{
    justify-items: center;
    margin-left: 30px;

    
}


.Sider hr{
    color: #ededed;
    background-color: #ededed;
    margin-top: 15px;
    width: 110%;
    margin-bottom: 15px;
}

.Sider h2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}

.videos-section{
    /* background-color:aqua; */
    height: 100vh;
    width: 70%;
}

.keywords{
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 70rem;
    padding: 8px;
    font-size: 14px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
}



.keywords ul{
    display: flex;
    flex-direction: row;
    justify-content:left;
    gap: 10px;
    list-style: none;

}

.word{
    white-space: nowrap;
    scroll-behavior: smooth;
    padding-bottom: 5px;
}

.keywords ul li{
    font-weight: 500;
    background-color: #f2f2f2;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 6px;
    transition: transform 0.5s;
    cursor: pointer;
}

.keywords ul li:hover{
    background-color: #c2bdbd;
}

.keywords ul li:active{
    opacity: 0.7;
}


.keywords::-webkit-scrollbar{
    height: 7px;
    width: auto;
}

.keywords::-webkit-scrollbar-thumb:hover{
    background: #606060;
}

.Sider::-webkit-scrollbar{
    width: 7px;
    height: auto;
}

.video-grid{
    padding-top: 20px;
    padding-left: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: 360px 360px 360px;
    gap: 15px;
}

.Sider::-webkit-scrollbar-thumb:hover{
    background:#606060;
}

.Vid{
    height: 320px;
    border-radius: 12px;
    transition: transform 0.5s;
}

.Vid:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.Vid img{
    width: 360px;
    height: 225px;
    border-radius: 12px;
}

.Vid img:hover{
    border-radius: 0;
}

.vid-info{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.vid-info img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.vidinfo-p{
    margin-right: 90px;
    line-height: 20px;
}

.vid-info .more {
    height: 20px;
    width: 20px;
}


.shorts-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.shorts-heading .left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
}


.shorts-heading h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;

}



.shorts-heading button{
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    color: #959595;
    background-color: white;
    font-size: 30px;
}

.shorts-heading button:hover{
    border-radius: 40px;
    background-color: #d8d5d5;
}

.left img{
    height: 20px;
    width: 20px;
}

.shorts{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    /* gap: 20px; */
}

.shorts-video{
    height: 440px;
    width: 210px;   
    /* background-color: aquamarine; */
    transition: transform 0.5s;

}

.shorts-video img{
    height: 360px;
    width: 210px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}


.shorts-video:hover{
    transform: translate(0,-5px);
}

.short-p{
    margin-left: 5px;
    margin-top: 10px;
    line-height: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.show-more-btn{
    display: flex;
    justify-content:center;
    margin-top: 10px;
}


.show-more-btn button{
    cursor: pointer;
    border: none;
    height: 40px;
    width: 30%;
    border-radius: 40px;
    background-color: white;
    font-weight: 600;
}

.show-more-btn button:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #716f6f;
}


.show-more-btn button span{
    font-size: 20px;
}









